:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}

* {
    margin: 0;
    color: var(--text-base);
}

body {
    display: flex;
    background-color: var(--background);
}

main {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    width: 50vw;
    height: 100vh;
    background-color: var(--background);

}

.logo {
    width: 10vw;
    height: auto;
    margin: 2.5rem;
    margin-bottom: 4rem;

}

.loginbox {
    box-sizing: border-box;
    width: 35vw;
    height: 60vh;

    justify-content: center;
    margin: auto;
    border-radius: 4px;
    background-color: var(--form-background);

    padding: 3.5rem 9.75rem;
}

#logimg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
}

.title {
    display: flex;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.25rem;

    margin-bottom: .2rem;

    color: var(--text-title);
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;

    margin-bottom: 2rem;

    color: var(--text-base);
}

.email,
.pwd {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;

    border: none;

    color: var(--text-base);
}

#pwdicon,
#mailicon,
#eyeicon {
    width: 1.25rem;
    height: 1.25rem;
}

#eyeicon {
    margin-left: 6rem;
}

#email,
#pwd {
    background-color: var(--form-background);
    border: none;
    margin-left: .2rem;
}

.form {
    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;

    width: 21rem;
    height: 2.75rem;
    border: none;
    border: solid 1px #868686;
    border-radius: 4px;

    padding: .6rem;
}

.form:focus-within {
    border: 3px solid var(--primary-color);
}

.footer1 {
    display: flex;
    align-items: center;

    width: 21rem;
    height: 2.75rem;

    margin: .5rem 0 .5rem 0;

}

p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;

    margin-left: .2rem;
}

#ems {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: .9rem;
    line-height: 1.3rem;

    text-decoration: none;
    text-transform: none;

    margin-left: 5rem;

    color: var(--primary-color);
}

button {
    width: 21rem;
    height: 3.2rem;

    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.7;
    text-transform: uppercase;

    cursor: pointer;
    transition: filter 0.2s;
    

    color: #473404;
}

button:hover {
    filter: brightness(0.9);
  }

.footer2 {
    display: flex;
    justify-content: center;

    margin: 1rem 0 1rem 0;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.3rem;

    color: var(--primary-color);
    text-decoration: none;
    text-transform: none;
}

#b {
    margin-left: .2rem;
    text-decoration: none;
    font-weight: bold;

    color: var(--primary-color);
}

aside {
    width: 50vw;
    height: 100vh;

}

img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}